header{
    width: 100%;
    padding-top: 16px;
}

.toggle-btn {
    display: none;
}

.navbar{
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu{
    display: flex;
    justify-self: flex-start;
    align-items: center;
}

.nav-list{
    list-style: none;
    display: flex;

    li{
        margin-left: 24px;
        
        &:last-child a{
            color: $red;
        }

        &:last-child:hover a{
            color: rgb(245, 180, 0);
        }

    }

}

.logo{
    max-width: 88px;
}

.nav-link{
    display: inline-block;
    padding: 8px 16px;
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 300;
    position: relative;
    color: $gray-1;
    transition: all .7s ease 0s;
    
    &::after{
        content:'';
        display: block;
        position: absolute;
        top: -50px;
        left: 50%;
        width:2px;
        height: 0px;
        background: linear-gradient(180deg, rgba(233,29,34,0) 0%, $red 100%);
        transition: all .7s ease 0s;
    }
    
    &:hover{
        color: $white-light;
        transition: all .7s ease 0s;

        &::after{
            height: 50px;
        }

    }

}

.nav-social{
    display: flex; 
    margin-right: 1.5rem;

    svg{
        cursor: pointer;
        margin-left: 16px;
        width: 24px;        

        path, circle{
            transition: all .7s ease 0s;
        }

        &:hover{
            path, circle{
                fill: $red-light;
                transform: translateY(-3px);
            }
        }

    }

}

@media only screen and (max-width: 992px){

    .logo{
        margin-left: 2rem;
    }

    #btn_menu{
        cursor: pointer;
    }

    .toggle-btn{
        display: block;
        position: absolute;
        z-index: 150;
        width: 60px;
        height: 50px;
        right: 4rem;
        top: 3rem;

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    
    .line{
        transition: all .5s ease 0s;
        background-color: $white;
        border-radius: 10px;
        height: 6px;
    }

    .line:nth-of-type(1){
        width: 50%;
        align-self: flex-end;
    }
    
    .line:nth-of-type(2){
        width: 100%;
    }
    
    .line:nth-of-type(3){
        width: 100%;
    }
    
    .toggle-btn-close{
        z-index: 150;
        display: block;
        position: absolute;
        width: 60px;
        height: 50px;
        right: 4rem;
        top: 3rem;
        
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        
        .line:nth-of-type(1){
            width: 100%;
            align-self: flex-end;
            transform: translateY(14px) rotate(40deg)
        }
        
        .line:nth-of-type(2){
            width: 0%;
        }
        
        .line:nth-of-type(3){
            width: 100%;
            transform: translateY(-14px) rotate(-40deg)
        }
    }
    
    .nav-menu{
        position: static;

        ul{
            transition: all 0.5s ease 0s;
        }
        
        ul.nav-list{
            transition: all .5 ease 0s;
            display: flex;
            flex-direction:column;
            position: absolute;
            z-index: 100;
            top: 0rem;
            right: 0rem;
            text-align: right;
            background: $blue-dark;
            height: 100%;
            width: 0%;
            overflow: hidden;
            
            li{
                margin-left: 0px;
                margin-right: 2.4rem;
            }
            
            li:nth-of-type(1){
                margin-top: 8rem;
            }
            
            .nav-link{
                padding: 3px 10px;

                &::after{
                    top: 10px;
                    left: 100%;
                    transform: rotate(90deg) translateY(-108px);
                }

                &:hover{

                    &::after{
                        top: -10px;
                        left: 100%;
                        transform: rotate(90deg) translateY(-18px);
                    }

                }
            }
            
        }
        
        ul.nav-list-active{
            width: 70vw;
            display: block;
            transform: translateX(0%);
        }
    }
    
    .nav-social{
        transition: all 0.5s ease 0s;
        position: absolute;
        top: 18rem;
        width: 0%;
        right:1.5rem;
        z-index: 150;
    }
    
    .nav-social-active{
        width: 33%;
    }

}